// STICKY CLASS
.search-stuck {
	
	@include media-breakpoint-up(lg) {
    position: sticky;
    padding: 0 !important;
	  top: 0px;
	  z-index: 800;
	  background-color: #fff;

	  .content {
	  	margin-left: auto !important;
	  	margin-right: auto !important;
	  }

	  .content, .card, .shadow, .card-body {
	  	transition: all 0.35s ease;
	  }

	  &.isSticky {

	  	.container-fluid.content, .card {
	  		border-right: none;
	  		border-left: none;
	  		padding: 0;
	  		margin: 0;
	  		max-width: 100%;
	  		border-radius: 0;
	  	}

	  	.card.shadow {
	  		box-shadow: 0 0 6px rgba(#000, .2) !important;
	  	}

	  	.card-body {
	  		padding-bottom: 4px !important;
	  	}
	  }
	}
}