//- FOOTER
//-=========================================================================

footer.border-top.py-3.px-2
	.container-fluid.text-lg-center.small &copy; 2020 BESTJOBS RECRUTARE SA


|
|
// Add jQuery 
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
// Add Intersection Observer for old browsers 
script(src='https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver')

// Site scripts
script(src='js/main.js')
