//- HEADER
//-=========================================================================

head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='title' content='')
	meta(name='description' content='')
	meta(name='keywords' content='')
	meta(name='author' content='')
	//-link(rel='shortcut icon' href='images/favicon.ico')

	//- mobile browser color
	meta(name="theme-color" content="#224d89")
	meta(name="msapplication-navbutton-color" content="#224d89")

	title #{titlu}
	link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet")
	link(href='css/style.css' rel='stylesheet')