//- CARDS
//-=========================================================================

h1.cheatsheet Cards
.row.bg-light

	.col-sm-6.col-xl-3


		// card job 
		.card-job

			.job-info

				h2.display-2
					a.link-job(href="#") Lorem ipsum dolor sit amet consectetur
				
				.employer
					h3.display-4.ellipsis-base @ 
						a.link-title.text-underline(href="#") Adobe Romania
					.employer-data
						.element
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star-half-alt.text-warning
							| 
							span 4.53
						.element
							i.fas.fa-redo-alt.text-secondary
							| 
							span Responsive

					.display-3.text-headings 2.000 - 3000 &euro;
					.locations.ellipsis-base in Bucharest, Brasov, Sibiu

					

			.job-extra
				.employer-logo
					a.img-fit(href="#")
						img(src="images/logos/adobe-medium.jpg", alt="")

				.actions
					a.extra-actions(href="#")
						i.fas.fa-share-alt
					| 
					a.extra-actions(href="#")
						i.fas.fa-heart
					|
					a.btn.btn-sm.btn-primary.btn-details(href="#") Job details



	.col-sm-6.col-xl-3


		// card job 
		.card-job

			.job-info

				h2.display-2
					a.link-job(href="#") Lorem ipsum
				
				.employer
					h3.display-4.ellipsis-base @ 
						a.link-title.text-underline(href="#") Adobe Romania
					.locations.ellipsis-base in Bucharest, Brasov, Sibiu

					

			.job-extra
				.employer-logo
					a.img-fit(href="#")
						img(src="images/logos/oracle-medium.jpg", alt="")

				.actions
					a.extra-actions(href="#")
						i.fas.fa-share-alt
					| 
					a.extra-actions(href="#")
						i.fas.fa-heart
					|
					a.btn.btn-sm.btn-primary.btn-details(href="#") Job details 



	.col-sm-6.col-xl-3


		// card job 
		.card-job

			.job-info

				h2.display-2
					a.link-job(href="#") Lorem ipsum dolor
				
				.employer
					h3.display-4.ellipsis-base @ 
						a.link-title.text-underline(href="#") Adobe Romania
					.employer-data
						.element
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star-half-alt.text-warning
							| 
							span 4.53

					.locations.ellipsis-base in Bucharest, Brasov, Sibiu

					

			.job-extra
				.employer-logo
					a.img-fit(href="#")
						img(src="images/logos/bitdefender-medium.jpg", alt="")

				.actions
					a.extra-actions(href="#")
						i.fas.fa-share-alt
					| 
					a.extra-actions(href="#")
						i.fas.fa-heart
					|
					a.btn.btn-sm.btn-primary.btn-details(href="#") Job details




	.col-sm-6.col-xl-3


		// card job 
		.card-job

			.job-info

				h2.display-2
					a.link-job(href="#") Lorem ipsum dolor sit amet consectetur
				
				.employer
					h3.display-4.ellipsis-base @ 
						a.link-title.text-underline(href="#") Adobe Romania
					.employer-data
						.element
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star.text-warning
							i.fas.fa-star-half-alt.text-warning
							| 
							span 4.53
						.element
							i.fas.fa-redo-alt.text-secondary
							| 
							span Responsive

					.display-3.text-headings 2.000 - 3000 &euro;
					.locations.ellipsis-base in Bucharest, Brasov, Sibiu

					

			.job-extra
				.employer-logo
					a.img-fit(href="#")
						img(src="images/logos/adobe-medium.jpg", alt="")

				.actions
					a.extra-actions(href="#")
						i.fas.fa-share-alt
					| 
					a.extra-actions(href="#")
						i.fas.fa-heart
					|
					a.btn.btn-sm.btn-primary.btn-details(href="#") Job details


