- 
	var jobs = 
	[
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		},
		{
			title: 						'Lorem ipsum dolor sit amet consectetur',
			employer: 				'Adobe Romania',
			employerLogo: 		['images/logos/adobe-medium.jpg', 'images/logos/adobe-small.jpg'],
			employerRating: 	4,
			responsive: 			true,
			wage: 						'2000 - 3000',
			location: 				'Bucharest, Brasov, Sibiu'
		},
		{
			title: 						'Incididunt ut labore et dolore',
			employer: 				'AMD',
			employerLogo: 		['images/logos/amd-medium.jpg', 'images/logos/amd-small.jpg'],
			employerRating: 	false,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest, Brasov, Sibiu, Timisoara, Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sed do eiusmod',
			employer: 				'Bitdefender',
			employerLogo: 		['images/logos/bitdefender-medium.jpg', 'images/logos/bitdefender-small.jpg'],
			employerRating: 	4.5,
			responsive: 			false,
			wage: 						'1200 - 1800',
			location: 				'Cluj, Suceava, Constanta'
		},
		{
			title: 						'Sunt in culpa qui officia deserunt',
			employer: 				'Intel Romania',
			employerLogo: 		['images/logos/intel-medium.jpg', 'images/logos/intel-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'3000 - 5000',
			location: 				'Brasov, Sibiu, Timisoara'
		},
		{
			title: 						'Excepteur sint',
			employer: 				'Oracle Romania',
			employerLogo: 		['images/logos/oracle-medium.jpg', 'images/logos/oracle-small.jpg'],
			employerRating: 	3.5,
			responsive: 			true,
			wage: 						'1800 - 2800',
			location: 				'Bucharest'
		},
		{
			title: 						'Omnis iste natus error sit voluptatem',
			employer: 				'SpaceX',
			employerLogo: 		['images/logos/spacex-medium.jpg', 'images/logos/spacex-small.jpg'],
			employerRating: 	5,
			responsive: 			false,
			wage: 						'3500 - 5600',
			location: 				'Bucharest'
		},
		{
			title: 						'Quis autem vel',
			employer: 				'Tremend',
			employerLogo: 		['images/logos/tremend-medium.jpg', 'images/logos/tremend-small.jpg'],
			employerRating: 	false,
			responsive: 			true,
			wage: 						'',
			location: 				'Suceava, Constanta'
		},
		{
			title: 						'Reprehenderit qui',
			employer: 				'Ubisoft Romania',
			employerLogo: 		['images/logos/ubisoft-medium.jpg', 'images/logos/ubisoft-small.jpg'],
			employerRating: 	2.75,
			responsive: 			false,
			wage: 						'',
			location: 				'Bucharest'
		}
	]